<a href="#/books" class="btn btn-dafault">Go Back</a>
<div class="panel panel-default" ng-init="getBook()">
  <div class="panel-heading">
    <h1 class="panel-title">{{book.title}}</h1>
  </div>
  <div class="panel-body">
  	 <div class="row">
  	 	   <div class="col-md-4">
           <img src="{{book.image_url}}">
         </div>
         <div class="col-md-6">
            <p>{{book.description}}</p>
            <ul class="list-group">
              <li class="list-group-item">Gener: {{book.gener}}</li>
              <li class="list-group-item">Author: {{book.author}}</li>
              <li class="list-group-item">Publisher: {{book.publisher}}</li>
              <li class="list-group-item">Pages: {{book.pages}}</li>
            </ul>
            <a target="_blank" href="{{book.buy_url}}" class="btn btn-success col-md-offset-4">Buy Now</a> |  <a class="btn btn-warning" href="#/books/edit/{{book._id}}">Edit Book</a> | <a class="btn btn-danger" ng-click="deleteBook(book._id)">Delete Book</a>
         </div>
  	 </div>
  </div>
</div>