<div class="container" style="background-color: #2795ba">
		<section>
			<section>
			<div class="page-header" id="contact">
				<h2>Contact Us:<br><small>contact us for more</small></br></h2>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<p>Send us some message or contact in the below address..</p>

					<address>
						<strong>Ranjan Swain</strong><br>
						P2, First Floor,<br>
						P Block<br>
						R K Ashram Marg<br>
						Delhi-91
					</address>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="user-name" class="col-lg-2 control-label">Name:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-name" placeholder="Enter Your Name"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-lg-2 control-label">
								Email:
							</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="email" placeholder="Enter Your Email"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="user-url" class="col-lg-2 control-label">
								Website:
							</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="user-url" placeholder="Enter Your Website"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="user-msg" class="col-lg-2 control-label">
								Message:
							</label>
							<div class="col-lg-10">
								<textarea type="text" class="form-control" id="user-msg" placeholder="Enter Your Message" cols="10" rows="5"></textarea> 
							</div>
						</div>

						<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Submit</button>							
						</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>